html {
  font-family: roboto, serif;
}

body {
  margin: 0;
  padding-bottom: 5rem;
  background-color: #F5EFE7;
}

figure {
  margin: 0;
  border: 5px solid #D8C4B6;
  background-color: #D8C4B6;
  border-radius: 10px;
}

figure figcaption {
  text-align: center;
  padding: 0.5rem;
  font-size: 0.7rem;
  background-color: #D8C4B6;
  color: #213555;
}

.image-background {
  height: 300px;
  width: 400px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.image-background img {
  max-width: 100%;
  max-height: 100%;
}

.header {
  background-color: #3E5879;
  color: #E5E7EB;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}

.header h1 {
  padding: 0;
  font-size: 4rem;
  margin: 2rem;
  color: #F5EFE7;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.header li a {
  text-decoration: none;
  color: #D8C4B6;
}

.content {
  color: #213555;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h1 {
  font-size: 2.5rem;
  padding: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.section h2 {
  font-size: 2rem;
}

.section .entry {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.section .entry p {
  max-width: 30rem;
}

.multi-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.multi-image-section p {
  margin-top: 2rem;
  width: 50rem;
}

.multi-image-section .images {
  display: flex;
  gap: 5rem;
  align-items: start;
}